<h1>Listing people</h1>

<table>
<tr>
<th rowspan="2">Login</th>
<th rowspan="2">Display name</th>
<th colspan="3">Roles</th>
<th colspan="3">Actions</th>
</tr>

<tr>
<th>Assembler</th>
<th>Tester</th>
<th>Admin</th>
</tr>
  
<% @people.each { |person| %>
<tr>
<td><%=h person.login %></td>
<td><%=h person.display_name %></td>

<td><%=h person.is_assembler %></td>
<td><%=h person.is_tester %></td>
<td><%=h person.is_admin %></td>

<td><%= link_to 'Show', :action => 'show', :id => person %></td>
<td><%= link_to 'Edit', :action => 'edit', :id => person %></td>
<td><%= link_to 'Destroy', { :action => 'destroy', :id => person }, :confirm => 'Are you sure?', :method => :post %></td>
</tr>
<% } %>
</table>

<br />

<%= link_to 'New person', :action => 'new' %>
