<div id="topbar">
<div id="topmenu">
<%= link_to_unless_current 'Orders', :controller => :orders %>
<%= link_to_unless_current 'Search', :controller => :orders, :action => :search %>
<%= link_to_unless_current '(Recent)', :controller => :orders, :action => :search, :date => { :start => (Date.today - (logged_in? ? current_person.recent_days : 3) + 1), :end => Date.today } %>
<%= link_to_unless_current 'Computers', :controller => :computers %>
<% if logged_in? and current_person.admin? -%>
|
<%=	link_to_unless_current 'Profiles', :controller => :profiles %>
<%=	link_to_unless_current 'Models', :controller => :models %>
<%=	link_to_unless_current 'Firmwares', :controller => :firmwares %>
<%=	link_to_unless_current 'Users', :controller => :people %>
<% end %>
</div>
<div id="login_box">
<% if logged_in? %>
	User: <span class="username"><%= current_person.display_name %></span> |
	<%= link_to_unless_current 'My settings', :controller => :account, :action => :index %> |
	<%= link_to_unless_current 'Logout', :controller => :account, :action => :logout %>
<% else %>
<%=	link_to_unless_current 'Login', :controller => :account, :action => :login %>
<% end %>
</div>
<br clear="all" />
</div>
