<h1>Listing components</h1>

<table>
  <tr>
  <% for column in Component.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for component in @components %>
  <tr>
  <% for column in Component.content_columns %>
    <td><%=h component.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => component %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => component %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => component }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @component_pages.current.previous } if @component_pages.current.previous %>
<%= link_to 'Next page', { :page => @component_pages.current.next } if @component_pages.current.next %> 

<br />

<%= link_to 'New component', :action => 'new' %>
