<h1>Listing firmwares</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Component model</th>
		<th>Firmware image</th>
		<th>Firmware version</th>
	</tr>
	
<% for firmware in @firmwares %>
	<tr>
		<td><%=h firmware.id %></td>
		<td><%=h ComponentModel.find_by_id(firmware.component_model_id).name %></td>
		<td><%=h firmware.image %></td>
		<td><%=h firmware.version %></td>

		<td><%= link_to 'Show', :action => 'show', :id => firmware %></td>
		<td><%= link_to 'Edit', :action => 'edit', :id => firmware %></td>
		<td><%= link_to 'Destroy', { :action => 'destroy', :id => firmware }, :confirm => 'Firmware database record and firmware image file will be deleted. Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

<br/>

<%= link_to 'New firmware', :action => 'new' %>
