<div class="form_head">Search Options</div>

<div class="form_body">
	<% form_remote_tag :url => {:action => 'search'}, :update => 'results',
		:complete => visual_effect(:blind_down, 'results'), :before => %(Element.show('spinner')), :success => %(Element.hide('spinner')) do -%>
		<%= image_tag 'spinner.gif', :id => 'spinner', :style => 'display: none;float: right;padding: 2px' %>
		<center>
		<table cellspacing="4" cellpadding="0">
			<tr>
				<td>Number:</td>
				<td><%= text_field_tag 'number', nil, :style => 'width:100%' %></td>
				<td>Start:<%= check_box 'datetime_start', 'use' %></td>
				<td style="text-align: left"><%= datetime_select 'datetime', 'start' %></td>
			</tr>
			<tr>
				<td>Customer:</td>
				<td><%= text_field_tag 'customer', nil, :style => 'width:100%' %></td>
				<td>End:<%= check_box 'datetime_end', 'use' %></td>
				<td style="text-align: left"><%= datetime_select 'datetime', 'end' %></td>
			</tr>
		</table>
		<%= submit_tag 'Find', :style => 'margin: 1em' %>
		</center>	
	<% end -%>
	<center><div id="results">
	</div></center>
</div>