<%= stylesheet_link_tag 'order_search' %>
<%= stylesheet_link_tag 'calendar.css' %>
<%= javascript_include_tag 'calendar' %>

<div class="form_head">Search orders</div>
<div class="form_body">
	<% form_tag  'search', :method => :get do %>
		<center>
		<table cellspacing="4" cellpadding="0">
			<tr>
				<td>Number:</td>
				<td><%= text_field_tag 'number', nil, :style => 'width:100%', :value => @number.to_s %></td>
				<td>Date:</td>
				<td>
					<%= date_field 'date', 'start', :value => @start_date.to_s, :size => '8' %>
					<span>&ndash;</span>
					<%= date_field 'date', 'end', :value => @end_date.to_s, :size => '8' %>
				</td>
			</tr>
			<tr>
				<td>Customer:</td>
				<td><%= text_field_tag 'customer', nil, :style => 'width:100%', :value => @customer.to_s %></td>
				<td>Manager:</td>
				<td><%= text_field_tag 'manager', nil, :style => 'width:100%', :value => @manager.to_s %></td>				
 			</tr>
		</table>
		<%= submit_tag 'Find', :style => 'margin: 1em' %>
		</center>	
	<% end %>
	<center><div id="results">
	
	
	<% if @orders.nil? %>
		<div style="width: 100%; background: #F0DFBD">Enter parameters for search</div>
	<% elsif @orders.size == 0 %>
		<div style="width: 100%; background: #F0DFBD">No orders found</div>
	<% else %>
		<table>
		<% @orders.to_a.each do |ord| %>
			<tr><td class="order_cell">
				<a href=<%= url_for(:action => 'show', :controller => 'orders', :id => ord) %>>
					<div class="order_number"><%=h ord.buyer_order_number %></div>
					<div class="title" title="<%=h ord.title %>"><%=h ord.title %></div>
					<div class="customer" title="<%=h ord.customer %>"><%=h truncate(ord.customer, 22) %></div>
				</a>
			</td></tr>		
		<% end %>
		</table>
	<% end %>
	
	
	</div></center>
</div>
