<%= stylesheet_link_tag 'order_search' %>

<div class="form_head">Search Options</div>

<div class="form_body">
	<% form_tag  'search', :method => :get do %>
		<center>
		<table cellspacing="4" cellpadding="0">
			<tr>
				<td>Number:</td>
				<td><%= text_field_tag 'number', nil, :style => 'width:100%' %></td>
				<td>Start:<%= check_box 'datetime_start', 'use' %></td>
				<td style="text-align: left"><%= date_select 'date', 'start' %></td>
			</tr>
			<tr>
				<td>Customer:</td>
				<td><%= text_field_tag 'customer', nil, :style => 'width:100%' %></td>
				<td>End:<%= check_box 'datetime_end', 'use' %></td>
				<td style="text-align: left"><%= date_select 'date', 'end' %></td>
			</tr>
		</table>
		<%= submit_tag 'Find', :style => 'margin: 1em' %>
		</center>	
	<% end %>
	<center><div id="results"><%= @search_result %></div></center>
</div>